<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.voizy.android">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".VoizyApp"
        android:allowBackup="true"
        android:icon="@mipmap/voizy_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/voizy_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/VoizyTheme">

        <activity
            android:name=".ui.MainActivity"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.voizy.android.fileprovider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <receiver
            android:name=".ShareBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_SHARED" />
            </intent-filter>
        </receiver>


    </application>

</manifest>