<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.voizy.android">

    <application
        tools:replace="android:label"
        android:label="voizy-debug" />

    <meta-data
        android:name="firebase_analytics_collection_enabled"
        android:value="false" />

    <meta-data
        android:name="firebase_analytics_collection_deactivated"
        android:value="true" />

</manifest>